<ion-page>
  <ion-header>
      <ion-toolbar color="success">
          <ion-title>Link your account to Government Id</ion-title>
      </ion-toolbar>
  </ion-header>
  <ion-content scrollY="false">
      <ion-card>
          <ion-card-content>
              <form (submit)="doRegister()">
                  <ion-input fill="outline" placeholder="Aadhar number" type="email"></ion-input>
                  <ion-input class="ion-margin-top" fill="outline" placeholder="Enter OTP-Received in mobile number linked to your Aadhar card" type="email"></ion-input>
                  <ion-button type="submit">Create my Account</ion-button>
              </form>
          </ion-card-content>
      </ion-card>
  </ion-content>
  <ion-footer>
      <ion-toolbar>
          I created a toolbar in the footer 
      </ion-toolbar>
  </ion-footer>
</ion-page>
